doctype html
html
  head
    //- Tech Meta
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8" )
    meta(http-equiv="X-UA-Compatible", content="IE=7")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Basic Meta
    title Oscar Granse

    meta(name="description", content="description")
      
    //- Open Graph Meta
    meta(property="og:title", content="Oscar Granse" )
    meta(property="og:site_name", content="Oscar Granse" )
    meta(property="og:description", content="Oscar Granse portfolio" )
    meta(property="og:image", content="path/to/image.png" )
    meta(property="og:url", content="oscargranse.com" )
    meta(property="og:type", content="website" )

  body

    div(id="main")

    script(src="js/app.js")
