footer(id="footer")
	
	ul.footer-links
		
		li.footer-link-email
			a(href="mailto:oscar.granse@gmail.com") email

		li.spliter |

		li.footer-link-vimeo
			a(href="http://www.vimeo.com/oscargranse" target="_blank") vimeo
