extends ../default

block content

	#home.page

		h1 #{page.title}

		ul.work

			each item in work

				- var tags = [];
				
				each tag in item.tags

					- tags.push(tag.slug);

				- var tags = tags.join().replace(/,/g, ' ');

				li(id="#{item._id}" data-tags="#{tags}") #{item.title}
