extends ../default

block content

	#home.page

		ul.work

			each item in work

				- var tags = [];
				
				each tag in item.tags

					- tags.push(tag.slug);

				- var tags = tags.join().replace(/,/g, ' ');

				li(data-tags="#{tags}")
					
					a(href="#{item.slug}", style="background-image: url('images/uploads/#{item.stillImage.filename}')")
