
/* line 286 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/app.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 260 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/rupture/rupture/index.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/app.styl */
/**
 * ------------------------
 * Core
 * ------------------------
 */

/* line 14 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/rupture/rupture/index.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/index.styl */

/* line 10 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/border.styl */

/* line 28 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/clearfix.styl */

/* line 4 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/clearfix.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/color-image.styl */

/* line 196 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/flex.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/gradients.styl */

/* line 11 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/config.styl */

/* line 7 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/config.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/iconic.styl */

/* line 25 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/image.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/index.styl */

/* line 8 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/index.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/base.styl */

/* line 19 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/base.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 6 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/links.styl */

/* line 30 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/links.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/text.styl */

/* line 7 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/text.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 17 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 69 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 7 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 20 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/overflow.styl */

/* line 66 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/overflow.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/positions.styl */

/* line 78 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/positions.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/reset.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/index.styl */

/* line 12 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/aliases.styl */

/* line 9 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 8 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 2 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 577 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/config.styl */

/* line 28 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/size.styl */

/* line 17 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/index.styl */

/* line 11 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/index.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 64 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 281 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */

/* line 32 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/reset.styl */

/* line 12 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/reset.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/variables.styl */

/* line 65 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/variables.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/mixins.styl */

/* line 4 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 6 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/reset.styl */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* line 10 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/reset.styl */
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 15 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/reset.styl */
html body {
  font-family: Arial, serif;
  font-size: 70%;
  line-height: 16px;
  background-color: #fff;
  color: #000;
}

/* line 22 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/reset.styl */
html img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}

/* line 27 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/reset.styl */
html span {
  display: inline-block;
}

/* line 30 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/reset.styl */
html a {
  text-decoration: none;
  color: #000;
}

/* line 10 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/app.styl */
/**
 * ------------------------
 * Utils
 * ------------------------
 */

/* line 13 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/mixins.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/rupture.styl */

/* line 55 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/rupture.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/easing.styl */

/* line 8 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/easing.styl */

/* line 55 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/fonts.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/fonts.styl */
body {
  font-size: 16px;
}

/* line 4 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/fonts.styl */
h1 {
  font-size: 28px;
}

/* line 7 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/fonts.styl */
h2 {
  font-size: 22px;
}

/* line 65 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/fonts.styl */

/* line 541 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/mixins.styl */

/* line 12 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/mixins.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/variables.styl */

/* line 21 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/app.styl */
/**
 * ------------------------
 * Common
 * ------------------------
 */

/* line 5 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/utils/variables.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/components/header.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/components/header.styl */
#header {
  position: relative;
  top: 0;
  left: 0;
  padding: 30px 0 20px;
  margin: 0 auto;
  text-align: center;
}

/* line 14 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/components/header.styl */

/* line 5 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/components/footer.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/components/footer.styl */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
}

/* line 7 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/components/footer.styl */

/* line 8 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/components/footer.styl */
#footer ul.footer-links li {
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
}

/* line 13 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/components/footer.styl */
#footer ul.footer-links li a:hover {
  text-decoration: underline;
}

/* line 29 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/app.styl */
/**
 * ------------------------
 * Views
 * ------------------------
 */

/* line 2 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/components/footer.styl */

/* line 14 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/page.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/page.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/page.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home {
  position: relative;
  max-width: 772px;
  margin: 0 auto;
}

/* line 6 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .tags {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  margin: 0 auto 20px auto;
}

/* line 12 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .tags li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

/* line 18 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .tags li:hover {
  text-decoration: underline;
}

/* line 21 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .loader {
  height: 1px;
  width: 0;
  background-color: #000;
}

/* line 26 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post {
  position: relative;
  height: 0;
  overflow: hidden;
  text-align: center;
}

/* line 32 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post .video {
  width: 100%;
}

/* line 35 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post .video iframe {
  width: 100%;
  height: 430px;
}

/* line 39 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */

/* line 40 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post .other-videos li {
  display: inline-block;
  margin: 10px 6px 0px;
  cursor: pointer;
}

/* line 45 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post .other-videos li:hover {
  text-decoration: underline;
}

/* line 48 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post .other-videos li:before {
  content: '|';
  display: block;
  float: right;
  margin-right: -7px;
  margin-top: -1px;
}

/* line 55 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */

/* line 56 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post .other-videos li:last-child:before {
  display: none;
}

/* line 59 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post .title {
  font-size: 12px;
  margin: 10px 0;
}

/* line 63 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post .description {
  margin: 0 auto 10px;
  width: 80%;
}

/* line 67 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .post .extra-bits {
  margin-bottom: 20px;
}

/* line 70 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .posts {
  text-align: center;
  margin-top: 10px;
}

/* line 74 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .posts li {
  display: inline-block;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  width: 115px;
  height: 100%;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.999999999999998%;
  margin-left: 0%;
  margin-right: 2%;
}

/* line 276 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */
#home .posts li:before,
#home .posts li:after {
  content: '';
  display: table;
}

/* line 280 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */
#home .posts li:after {
  clear: both;
}

/* line 48 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */
#home .posts li:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 768px) {

/* line 144 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/rupture/rupture/index.styl */
  #home .posts li {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 49%;
    margin-left: 0%;
    margin-right: 2%;
  }

/* line 276 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */
  #home .posts li:before,
  #home .posts li:after {
    content: '';
    display: table;
  }

/* line 280 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */
  #home .posts li:after {
    clear: both;
  }

/* line 48 : /Users/Scott/Desktop/work/oscar-portfolio/node_modules/jeet/stylus/jeet/_grid.styl */
  #home .posts li:last-child {
    margin-right: 0%;
  }
}

/* line 86 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .posts li img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 90 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */

/* line 94 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .posts li.active {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
}

/* line 97 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */
#home .posts li.open {
  cursor: default;
}

/* line 7 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/home.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/example.styl */

/* line 1 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/example.styl */

/* line 2 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/example.styl */
#example ul {
  margin-bottom: 10px;
}

/* line 5 : /Users/Scott/Desktop/work/oscar-portfolio/client/styles/views/example.styl */
#example ul li {
  display: inline-block;
  margin-right: 10px;
}
